:root{
  /* Colors */
  --primary-color:#000000;
  --secondary-color:#FF9101;
  --text-color:#FFFFFF;

  /* Fonts */

  --Large-font:37px;
  --medium-font:24px;
  --Small-font:16px;

}


.App {
  text-align: center;
}


.sub-nav{
  color: red;
}