:root{
  /* Colors */
  --primary-color:#000000;
  --secondary-color:#FF9101;
  --text-color:#FFFFFF;

  /* Fonts */

  --Large-font:52px;
  --medium-font:24px;
  --Small-font:16px;
  --font-sm: 0.875em;
  --font-md: 1.124em;
  --font-x-md: 1.667em;
  --font-x-lg: 3.275em;


  /* Font family */

  --logo-font-w:'Climate Crisis', cursive;
  --logo-font-o:'Playfair Display', serif;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--primary-color);

}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}