:root{
  /* Colors */
  --primary-color:#000000;
  --secondary-color:#FF9101;
  --text-color:#FFFFFF;

  /* Fonts */

  --Large-font:37px;
  --medium-font:24px;
  --Small-font:16px;


  /* Font family */

  --logo-font-w:'Climate Crisis', cursive;
  --logo-font-o:'Playfair Display', serif;

}

body{
  background-color: var(--primary-color);
}
